
    <script >
	 window.onload = function() {
	 		app.init();
	 }
	</script>

	<script type="text/template" id="tpl-menu">
		<ul>
			<li><a href="#">List</a></li>
			<li><a href="#archive"</a></li>
			<li class="right"><a href="new">+</a></li>
		</ul>
	</script>

	<script type="text/template" id="tpl-list-item">
    <li class="cf done-<%%= done %>" data-index="<%%= index %>">
        <h2>
            <input type="checkbox" data-status <%%= doneChecked %> />
            <a href="javascript:void(0);" data-up>&#8593;</a>
            <a href="javascript:void(0);" data-down>&#8595;</a>
            <%%= title %>
        </h2>
        <div class="options">
            <a href="#edit/<%%= index %>">edit</a>
            <a href="javascript:void(0);" data-archive><%%= archiveLink %></a>
            <a href="#delete/<%%= index %>">delete</a>
        </div>
    </li>
	</script>

	<script type="text/template" id="tpl-form">
    <form>
        <textarea><%%= title %></textarea>
        <button>save</button>
    </form>
	</script>