<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<script >
	 window.onload = function() {
	 		app.init();
	 }
	</script>

	<script type="text/template" id="tpl-menu">
		<ul>
			<li><a href="#">List</a></li>
			<li><a href="#archive"</a></li>
			<li class="right"><a href="new">+</a></li>
		</ul>
	</script>



<%= yield %>

</body>
</html>
